<nav class="navbar navbar-expand-lg navBar">
    <div class="container-fluid">
        <!-- Logo -->
        <a href="/" class="navbar-brand d-flex align-items-center">
            <img class="logo" src="/img/logo.jpg" alt="Logo">
        </a>

        <!-- Botón Toggler para móviles -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Contenido de la Navbar -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
               
                <!-- Opción Usuarios (Solo para ADMIN) -->
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdownUsuarios" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuarios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownUsuarios">
                        <li><a class="dropdown-item" th:href="@{/admin/usuarios}">Listar Usuarios</a></li>
                    </ul>
                </li>

                <!-- Opción Perfil -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdownPerfil" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Perfil
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownPerfil">
                        <li><a class="dropdown-item" th:href="@{/perfil}">Editar Perfil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
                    </ul>
                </li>

                <!-- Opción Registrarse -->
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.usuariosession == null}" href="/registrar">
                        Registrate!
                    </a>
                </li>

                <!-- Opción Login -->
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.usuariosession == null}" href="/login">
                        LOGIN!
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>